$padding: 10px !default;

// The micro clearfix http://nicolasgallagher.com/micro-clearfix-hack/
@mixin clearfix() {
	*zoom:1;

	&:before,
	&:after {
	    content:"";
	    display:table;
	}
	&:after {
	    clear:both;
	}
}

/* Grid */

* {
	box-sizing: border-box;
}

@mixin row() {
	@include clearfix();
}

@mixin column($p, $q) {
	float: left;
	width: percentage($p / $q);
	padding-right: $padding;
	&:nth-last-child(1) {
		padding-right: 0;
	}
}
