@import 'form';
@import 'table';
@import 'dataTables';

body {
	font-size: 10pt;
}

div#container {
	div {
		width: 50%;
		float: left;
	}
}

#majors td, #lectures td {
	padding: .2em .3em;
}
table tr {
	&.selected {
		background-color: #CCC;
	}
	&:hover {
		background-color: #EEE;
	}
}
