@import 'form';
@import 'table';
@import 'dataTables';

* {
	box-sizing: border-box;
}
body {
	font-size: 10pt;
}


div#container {
	width: 500rem;
	min-width: 500px;
	margin: auto;
	position: relative;
}

div#majors_wrapper {
	display: block;
	width: 20rem;
	&.inactive {
	}
	float: left;
	table {
		width: 100%;
	}
}
div#lectures_wrapper {
	width: 50rem;
	float: left;
}

#majors_filter, #lectures_filter {
	width: 100%;
	margin-bottom: .5em;
	input {
		width: 100%;
		box-sizing: border-box;
	}
}

.dataTables_wrapper {
	visibility: hidden;
	margin: 0.5em;
}


#majors td, #lectures td {
	padding: .2em .3em;
}

table tbody tr {
	&.selected, &.selected:hover {
		background-color: #CCC;
	}
	&:hover {
		background-color: #EEE;
	}
}
