@import 'form';
@import 'color-wheel';


$lpanel-width: 20%;
$card-width: 63mm;
$card-height: 88mm;
$card-border: 2mm;

$card-ratio: $card-width / $card-height;
$card-view-width: $card-width / (2 * $card-border);
$card-view-height: $card-height / (2 * $card-border);
$card-border-width: #{(3mm / $card-width) * 100}#{"%"};
$card-border-height: #{(3mm / $card-height) * 100}#{"%"};
$card-border-radius-width: #{(1.8mm / $card-width) * 100}#{"%"};
$card-border-radius-height: #{(1.8mm / $card-height) * 100}#{"%"};


div#container {
	display: table;
	height: 100%;
	width: 100%;
	overflow: scroll;
	div {
		display: table-cell;
		vertical-align: top;
	}
	#result-pad {
		width: $lpanel-width;
		min-width: 200px;
	}
	#result {
		padding-left: 6px;
	}
}
#lpanel {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: $lpanel-width;
	min-width: 200px;

	background: #eee;
	box-shadow: inset -50px 0px 50px -30px #999;
}
div#search {
	padding: 1em;

	//height: 100%;
	input[type='text'] {
		width: 100%;
	}
}
div#wheel {
	@include color-wheel(100px);
	margin: 5px;
	> i:hover {
		box-shadow: 0px 0px 2px 1px #000;
	}
}



.card-view {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	overflow: hidden;
	margin: $card-border;
}

.card > .card-view > img {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
}

.loading {
	visibility: hidden;
}

@mixin clip-borders ($img-width, $img-height, $top, $right, $bottom, $left) {
	// todo: simlify calculation
	// calculate clip in mm
	$top: ($top / $img-height) * $card-view-height;
	$right: ($right / $img-width) * $card-view-width;
	$bottom: ($bottom / $img-height) * $card-view-height;
	$left: ($left / $img-width) * $card-view-width;

	left: -($left / $card-view-width) * 100%;
	top: -($top / $card-view-height) * 100%;
	width: ($card-view-width / ($card-view-width - $left - $right)) * 100%;
	height: ($card-view-height / ($card-view-height - $top - $bottom)) * 100%;
}

.card img.clip-border-1 { // 480x680 hq scans
	@include clip-borders(480px, 680px, 10px, 10px, 10px, 10px);
}
.card img.clip-border-2 { // 223x310 lq gatherer
	@include clip-borders(223px, 310px, 12px, 12px, 13px, 11px);
}


.card {
	max-width: $card-width;
	max-height: $card-height;

	position: relative;
	overflow: hidden;

	background-color: #000;
	color: #fff;
	margin: 3px;
	border-radius: $card-border-radius-width / $card-border-radius-height;

	.card-data {
		position: absolute;
		width: 100%;
		height: 100%;
	}
}

div#result .card {
	float: left;
	width: 18vw;
	height: 18vw / $card-ratio;

	&:hover {
		box-shadow:
			0px 0px 0px 1px rgba(0, 0, 0, 1),
			0px 0px 3px 2px rgba(120, 120, 120, 1);
	}
}


/* Animation stuff */
.card-view {
	&, > img {
		perspective: 1000px;
		transition: transform 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
	}

	// flip cards
	&.flipped {
		transform: rotate(-180deg);
	}

	// split cards
	&.split-1 { transform: rotate(90deg) scale(1 / $card-ratio)	translate(0, -25%); }
	&.split-2 { transform: rotate(90deg) scale(1 / $card-ratio)	translate(0,  25%); }

	// double-faced cards
	&.turned > img.front, &:not(.turned) > img.back {
		backface-visibility: hidden;
		z-index: 1; // fix ordering issue
		&.front { transform: rotateY(-180deg) }
		&.back  { transform: rotateY( 180deg) }
	}
}

