extends layout

block body
	script(src="/js/main.js")
	div#search-form
		label(for='search') Studienfach
		input(type='text' id='search' autofocus)
	div#result
		table(id='lectures')
			thead
				tr
					th Name
					th Typ
			tbody




