extends layout

block body
	script(src="/js/main.js")
	input(type='text' id='search' placeholder='Studienfach')
	div#result
		table(id='lectures')
			thead
				tr
					th Name
					th Typ
			tbody




