doctype html
html
	head
		title= pageTitle
		script(src="/js/q.js")
		script(src="/js/jquery.js")
		script(src="/js/jquery.dataTables.js")
		script(src="/js/typeahead.bundle.js")
		link(rel='stylesheet', href="/css/normalize.css")
		link(rel='stylesheet', href="/css/style.css")
	body
		block body

